* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #121212;
}

/* @media (max-height: 800px) {
	.TESTING {
		height: 4rem;
	}
}

@media (max-height: 900px) {
	.TESTING {
		height: auto;
	}
} */
